body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}
h1 {
    text-align: center;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

input, button {
    padding: 9px;
    
}

ul {
    list-style: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    
}